<!-- <div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded h-100 p-4">
    <div class="bg-light rounded h-100 p-4">

        <h3 class="mb-4 ">Modifier Les Informations Du Contrat Fournisseur </h3>
        <br>
        <br>
        <form >
          <div class="row mb-3 ">
            <div class="col-sm-4 ">
              <label  clas="col-sm-1 col-form-label"><h5>RÉFÉRENCE CONTRAT </h5></label>
              <input type="text" class="form-control"  id="ref_contrat" name="ref_contrat" [(ngModel)]="ref_contrat" value="{{ref_contrat}}" required>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4 ">
              <label  class="col-sm-12 col-form-label"><h5>RÉFÉRENCE MARCHÉ</h5></label>
              <input type="text" class="form-control"  id="ref_marche" name="ref_marche"  [(ngModel)]="ref_marche" value="{{ref_marche}}" required>
            </div>
          </div>
          <div class="row mb-3 ">
            <div class="col-sm-4 ">
              <label  class=" col-sm-12 col-form-label"><h5>OBJET</h5></label>
              <textarea type="text" class="form-control"   id="objet" name="objet"  [(ngModel)]="objet" value="{{objet}}" required></textarea>
            </div>

          </div>
          <div class="row mb-3 ">
            <div class="col-sm-4 ">
              <label  class=" col-sm-12 col-form-label"><h5>Choisire Fournisseur</h5></label>
              <input class="form-control" id="id_fournisseur" name="id_fournisseur"  value="{{nom}}" disabled>

            </div>

          </div>

          <div class="row mb-3 ">
            <div class="col-sm-4 ">
              <label  class=" col-sm-12 col-form-label"><h5>MONTANT</h5></label>
              <input type="text" class="form-control"  id="montant" name="montant"  [(ngModel)]="montant" value="{{montant}}" required>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4 ">
              <label  class=" col-form-label"><h5>DURÉE</h5></label>
              <input type="text" class="form-control"  id="duree" name="duree"  [(ngModel)]="duree" value="{{duree}}" required>
            </div>
          </div>
          <div class="row mb-3 ">
            <div class="col-sm-4 ">
              <label  class=" col-form-label"><h5>DATE DE DÉBUT</h5></label>
              <input type="date" class="form-control"  id="date_debut" name="date_debut"  [(ngModel)]="date_debut" value="{{date_debut}}" required>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4 ">
              <label  class="col-sm-12 col-form-label"><h5>DATE DE FIN</h5></label>
              <input type="date" class="form-control"  id="date_fin" name="date_fin"  [(ngModel)]="date_fin" value="{{date_fin}}" required>
            </div>
          </div>
          <div class="row mb-3 ">
            <div class="col-sm-4 ">
              <label  class=" col-form-label"><h5>DATE DE FACTURATION</h5></label>
              <input type="date" class="form-control"  id="date_de_facturation" name="date_de_facturation"  [(ngModel)]="date_de_facturation" value="{{date_de_facturation}}" required>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4 ">
              <label  class="col-sm-12 col-form-label"><h5>DATE DE PRÉAVIS</h5></label>
              <input type="date" class="form-control"  id="date_de_preavis" name="date_de_preavis"  [(ngModel)]="date_de_preavis" value="{{date_de_preavis}}" required>
            </div>
          </div>
          <div class="row mb-3 ">
            <div class="col-sm-4 ">
              <label  class=" col-form-label"><h5>MISE EN DEMEURE</h5></label>
              <input type="text" class="form-control"  id="mise_en_demeure" name="mise_en_demeure"  [(ngModel)]="mise_en_demeure" value="{{mise_en_demeure}}" required>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4 ">
              <label class="col-sm-12 col-form-label"><h5>STRUCTURE TECHNIQUE</h5></label>
              <input type="text" class="form-control"  id="structure_technique" name="structure_technique" [(ngModel)]="structure_technique" value="{{structure_technique}}" required>
            </div>

            <div class="col-sm-4 ">
              <label class="col-sm-12 col-form-label"><h5>PIECE JOITE</h5></label>


              <input type="file" (change)="onFileSelected($event)" name="avatar"
                            class="form-control" id="photo" formControlName="piece_joite"  name="piece_joite"  [(ngModel)]="piece_joite"  value="{{piece_joite}}" required>
              <button type="button" class="btn btn-outline-primary m-2" (click)="onUpload()">Importer</button>
            </div>
          </div>
          <div class="row mb-3 ">
            <div class="col-sm-6 ">
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="renouvele" name="renouvele" [(ngModel)]="renouvele" value="{{renouvele}}" required>
                <label class="form-check-label" for="exampleCheck1"><h5>RENOUVELE AUTOMATIQUE</h5></label>-->
                <!-- <h5 *ngIf="( renouvele== '1')"> CONTRAT RENOUVELÉ AUTOMATIQUE</h5>
            </div>

            </div>

          </div>
          <div class="row mb-3 ">
            <div class="col-sm-4 ">

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4 ">
              <button type="submit" class="btn btn-outline-success m-2" (click)="modifier(id_contratFrn)">Enregister</button>
              <button class="btn btn-outline-danger m-2" [routerLink]="['/home/contrat/listeContrat']">Annuler</button>
            </div>
          </div>


        </form>
    </div>
  </div>
  </div>  -->
  <div class="container-fluid pt-4 px-4" >
    <div class="card-header" >
      <div class="row mb-3 ">
        <div class="col-sm-8 ">
        </div>
        <div class="col-sm-12">
          <div class="card-header card-header-danger" id="title-Table">
            <h3 class="card-title" id="titre">Les coordonnées du contrat fournisseur</h3>
          </div>
          <div class="center"  >

            <form   >
              <div class="row mb-5 "  >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-sm-4 " >
                  <span >Référece du contrat </span>
                  <div class="inputbox">
                    <input type="text" class="form-control"  id="ref_contrat" name="ref_contrat" [(ngModel)]="ref_contrat" value="{{ref_contrat}}" required>
                  </div>
                  <span >Objet</span>
                  <div class="inputbox">
                    <input type="text" class="form-control"   id="objet" name="objet"  [(ngModel)]="objet" value="{{objet}}" required>

                  </div>
                  <span >Montant</span>
                  <div class="inputbox">
                    <input type="text" class="form-control"  id="montant" name="montant"  [(ngModel)]="montant" value="{{montant}}" required>


                  </div>
                  <span >Date de début</span>
                  <div class="inputbox">
                    <input type="date" class="form-control"  id="date_debut" name="date_debut"  [(ngModel)]="date_debut" value="{{date_debut}}" required>

                  </div>
                  <span> Date de facturation</span>
                  <div class="inputbox">
                    <input type="date" class="form-control"  id="date_de_facturation" name="date_de_facturation"  [(ngModel)]="date_de_facturation" value="{{date_de_facturation}}" required>


                  </div>
                  <span>Mise en demeure </span>
                  <div class="inputbox">
                    <input type="text" class="form-control"  id="mise_en_demeure" name="mise_en_demeure"  [(ngModel)]="mise_en_demeure" value="{{mise_en_demeure}}" required>
                  </div>

                  <div class="inputbox">
                    <label class="col-sm-12 col-form-label"><h5>PIECE JOITE</h5></label>
                    <input type="file" (change)="onFileSelected($event)" name="avatar"
                    class="form-control" id="photo" formControlName="piece_joite"  name="piece_joite"  [(ngModel)]="piece_joite"  value="{{piece_joite}}" required>
              <button type="button" class="btn btn-outline-primary m-2" (click)="onUpload()">Importer</button>


                  </div>
                </div>
                <div class="col-sm-2">

                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-sm-4 ">
                  <span>Réfirence marche</span>
                  <div class="inputbox">
                    <input type="text" required="required"  id="ref_marche" name="ref_marche"  [(ngModel)]="ref_marche" value="{{ref_marche}}" required>
                  </div>
                  <span>Durée</span>
                  <div class="inputbox">
                    <input type="text" class="form-control"  id="duree" name="duree"  [(ngModel)]="duree" value="{{duree}}" required>
                  </div>

                  <span  >Fournisseur</span>
                  <div class="inputbox">
                    <input class="form-control" id="id_fournisseur" name="id_fournisseur"  value="{{nom}}" disabled>


                  </div>
                  <span  >Date de fin</span>
                  <div class="inputbox">
                    <input type="date" class="form-control"  id="date_fin" name="date_fin"  [(ngModel)]="date_fin" value="{{date_fin}}" required>

                    </div>
                    <span  >Date de preavis</span>
                  <div class="inputbox">
                    <input type="date" class="form-control"  id="date_de_preavis" name="date_de_preavis"  [(ngModel)]="date_de_preavis" value="{{date_de_preavis}}" required>
                    </div>
                    <span>Structure technique</span>
                    <div class="inputbox">
                      <input type="text" class="form-control"  id="structure_technique" name="structure_technique" [(ngModel)]="structure_technique" value="{{structure_technique}}" required>


                      </div>
                  </div>
              </div>
                <div class="row mb-3 ">
                    <div class="col-sm-4 ">
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4 ">
                      <button type="submit" class="btn btn-outline-success m-2" (click)="modifier(id_contratFrn)">Enregister</button>
                      <button class="btn btn-outline-danger m-2" [routerLink]="['/home/contrat/TableauBor']">Annuler</button>
                    </div>
                  </div>
            </form>
          </div>
        </div>
        <div class="col-sm-0 ">


        </div>
      </div>



  </div>


</div>

